<div class="panel-group" id="accordion">
    <% @users.each do |user| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>"><%= user.name %></a>
          </h4>
        </div>
        <div id="collapse<%= user.id %>" class="panel-collapse collapse">
          <div class="panel-body">
            <% user.user_login_details.each do |login_detail| %>
              <div>
              <p>
                Address: <%= login_detail.login_address %>
              </p>
              <p>
                Login Time: <%= login_detail.login_time.strftime("%b-%d-%Y %I:%M %p") %>
              </p>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div> 
</div>